.myBox {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    background-color: rgba(128, 128, 128, 0.267);
}

.red {
    background-color: red;
}

.bold {
    font-weight: bold;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
